<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <title>{% block title %}Паззл{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    
    <script type="text/javascript">
        MEDIA_URL = '{{ MEDIA_URL }}';
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}core.js?2"></script>

    <link href="{{ MEDIA_URL }}style.css" media="screen" rel="stylesheet" type="text/css" /> 

    {% block head %}{% endblock %}

</head>
<body>
    <div id="infrawr">
        <div id="usus">
            <h1>Pzzzle.com</h1>
            <div id="linking"><span>What to do?</span> <span>Screenshots <span>About pzzzle</span></div>

            {% block content %}{% endblock %}
        </div>
    </div>

    (c) Idea & design by Vitaliy Rynskiy  Serverside by Mikhail Polykovskij Clientside by Alligator

<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-23993349-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
</body>
</html>