{% extends "base.html" %}

{% block content %}
    <table cellpadding="0" cellspacing="0">
        {% for line in cells %}
            <tr>
                {% for i in line %}
                    <td>{% if i.lock %}
                            <img src="{{ i.url }}"/>
                        {% else %}
                            <a href="/upload?x={{ i.x }}&y={{ i.y }}"><img src="{{ i.url }}"/></a></td>
                        {%  endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}