{% extends "base.html" %}

{% block content %}
    {% spaceless %}
        <div id="imagery-outer">
            <div id="imagery-inner">
                {% for cell in cells %}
                    <div class="cell">
                        <img class="cell_img" src="{{ cell.url }}" width="100px" height="100px">
                        <div class="control" id="control_{{ cell.x }}_{{ cell.y }}">
                            {% if cell.lock %}
                                {{ cell.lock }} min
                                <img src="/media/i/protected.png" alt="Залочено">
                            {% else %}
                                <a href="#" onclick="window.location='/upload?x={{ cell.x }}&y={{ cell.y }}';">upl</a> &nbsp;
                                <a href="#" class="icon-link js-lock" id="lock_{{ cell.x }}_{{ cell.y }}" 
                                    onclick="lock({{ cell.x }}, {{ cell.y }});">
                                    <img src="/media/i/for-protection.png" alt="Залочить">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
 
    <iframe id="_iframe"></iframe>

    <div id="uploader" class="hidden"></div>

{% endblock %}